<div class="h-[100vh]">
  <div class="h-full flex flex-col items-center justify-center gap-4">
    <div class="w-full max-w-md">
      <%= form_with url: passwords_path, html: { class: "flex flex-col gap-10" } do |form| %>
        <div class="flex flex-col gap-2 text-center">
          <h1 class="text-2xl font-bold">Forgot your password?</h1>
          <p class="text-sm text-muted-foreground">
            Enter your email address and we'll send you instructions to reset
            your password
          </p>
        </div>

        <% if flash[:alert] %>
          <div class="p-4 rounded-md bg-red-50 dark:bg-red-900/10">
            <p class="text-sm text-red-600 dark:text-red-400"><%= flash[:alert] %></p>
          </div>
        <% end %>

        <div class="grid gap-7">
          <div class="grid gap-2">
            <%= form.label :email_address, "Email", class: "text-sm font-medium" %>
            <%= form.email_field :email_address,
                             required: true,
                             autofocus: true,
                             autocomplete: "username",
                             placeholder: "johndoe@planameet.app",
                             value: params[:email_address],
                             class:
                               "flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm
                                                                                                                                                                                                                                      file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50" %>
          </div>

          <div class="flex flex-col gap-4">
            <%= form.submit "Email reset instructions",
                        class:
                          "inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1
                                                                                                                                                                                                                                      focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground shadow hover:bg-primary/90 h-9 px-4 py-2 w-full",
                        onclick:
                          "this.disabled=true; this.value='Sending...'; this.classList.add('opacity-75'); this.form.submit();" %>

            <a href="/session/new" class="text-sm text-center underline underline-offset-4">
              Back to login
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
